{
    "plugins": [
        "react", "smells"
    ],
    "extends": [
        "eslint:recommended", "plugin:react/recommended"
    ],
    "parser": "babel-eslint",
    "env": {
        "browser": true,
	     "node":true
    },
 
    "rules": {
        "no-console": 0,
        "no-underscore-dangle": 1,
        "quotes": [2, "single"],
        "smells/no-switch": 1,
        "smells/no-complex-switch-case": 1,
        "smells/no-setinterval": 1,
        "smells/no-this-assign": 1,
        "jsx-quotes": ["error", "prefer-single"],
        "no-cond-assign": ["error", "always"],
        "no-constant-condition": "warn",
        "no-dupe-keys": "warn",
        "no-duplicate-case": "warn",
        "no-empty": "warn",
        "no-ex-assign": "error",
        "no-extra-semi": "warn",
        "no-unreachable": "warn",
        "array-callback-return": "error",
        "block-scoped-var": "error",
        "complexity": ["warn", 2],
        "eqeqeq": ["warn", "always"],
        "no-eq-null": "warn",
        "no-alert": "error",
        "no-empty-function": "warn",
        "no-eval": "error",
        "no-global-assign": "error",
        "no-magic-numbers": ["error", {
            "ignore": [1],
            "ignoreArrayIndexes": true
        }],
        "require-await": "warn",
        "camelcase": "warn",
        "comma-dangle": ["warn", "never"],
        "no-duplicate-imports": "warn",
        "no-dupe-class-members": "warn",
        "no-const-assign": "error",
        "arrow-spacing": "warn",
        "no-multiple-empty-lines": "warn"
    }
}